.container
  .jumbotron
    h1 Node Stage
    p This web application is maintained by Tardigrade. Any questions or concerns should be redirected to Justin Lindsey [jlindsey(at)tardigradedigital(dot)com]. Login functionality does not allow registration and accounts are handled by administration.
    
  .row
    .col-md-6
      div(ng-include="'/partials/featured-courses'")
    .col-md-6
      div(ng-include="'/partials/new-courses'")