body {
  padding-top: 45px;
}
.navbar {
  height: 50px;
}
.navbar .navbar-header img.brand {
  float: left;
  height: 40px;
  margin-top: 5px;
}
.navbar .navbar-header .navbar-brand {
  margin-left: 0;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
