html {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
body {
  background: #232323;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  height: 50px;
}
.navbar .navbar-header .brand-container {
  position: relative;
  float: left;
  height: 40px;
  width: 54px;
}
.navbar .navbar-header .brand-container a img.brand {
  cursor: pointer;
  position: absolute;
  left: 0;
  height: 40px;
  margin-top: 5px;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.navbar .navbar-header .brand-container a:nth-child(2) img.brand:hover {
  opacity: 0;
}
.navbar .navbar-header .navbar-brand {
  margin-left: 0;
}
.navbar .navbar-collapse li a span {
  float: left;
  margin-right: 4px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
