html
  background-image url(/img/background-1.jpg)
  background-position center center
  background-repeat no-repeat
  background-attachment fixed  
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover
  height 100%

body
  // background rgba(35,35,35,1)
  background rgba(35,35,35,0.5)
  height calc(100% - 50px)
  padding-top 70px
  padding-bottom 70px

.navbar
  height 51px
  .navbar-header
    .brand-container
      position relative
      float left
      height 40px
      width 54px
      a
        img.brand
          cursor pointer
          position absolute
          left 0
          height 40px
          margin-top 5px
          opacity 1
          -webkit-transition opacity .2s ease-in-out   
          -moz-transition opacity .2s ease-in-out   
          -o-transition opacity .2s ease-in-out   
          -ms-transition opacity .2s ease-in-out   
          transition opacity .2s ease-in-out
      a:nth-child(2) img.brand:hover
        opacity: 0;
    .navbar-brand
      margin-left 0
  .navbar-collapse
    li
      a
        span
          float left
          margin-right 4px
      
footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2
    
.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px