html
  background-image url(/img/background-6.jpg)
  background-position center center
  background-repeat no-repeat
  background-attachment fixed  
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover
  height 100%

body
  // background rgba(35,35,35,1) // Test style for transistionable backgrounds on body
  background none
  background-attachment fixed
  padding-top 50px
  padding-bottom 50px
  position fixed
  height 100%
  left 0
  right 0
  top 0
  bottom 0
  overflow auto

.tdf, h1, h2, h3, h4
  font-family 'Titillium Web', sans-serif
  font-weight 300
  
.tdfl
  font-family 'Titillium Web', sans-serif
  font-weight 200

.h3-icon, .h4-icon, .lgr-icon
  float left
  padding-right 5px
      
.h3-icon
  margin-top -5px

.h4-icon
  margin-top -9px
  
.mobile-only
  display none
  
.login-mobile-spacer
  margin-bottom 8px !important
  
.margin-left-med
  margin-left 10px
  
.dropdown-menu
  -webkit-transition all 200ms ease-out
  transition all 200ms ease-out
  opacity 0

.open .dropdown-menu
  opacity 1
  
.modal
  background rgba(32,32,32,0.7)
  margin-top 51px
  
.navbar-center
  text-align center

// Styles for stage animation using ngAnimate styles
[data-ng-view].ng-enter
  opacity 0.2
  -webkit-transition opacity 300ms linear
  transition opacity 300ms linear

[data-ng-view].ng-enter-active
  opacity 1
  
.navbar
  height 51px
  .navbar-header
    .brand-container
      position relative
      float left
      height 51px
      margin-left 5px
      width 54px
      img.brand
        cursor pointer
        position absolute
        left 0
        height 45px
        margin-top 2.5px
        opacity 1
        -webkit-transition all .2s ease 
        -moz-transition all .2s ease
        -o-transition all .2s ease
        -ms-transition all .2s ease
        transition all .2s ease
      img.brand:hover
        opacity 0.85
        filter gray
        filter grayscale(.5)
        // filter url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxmaWx0ZXIgaWQ9J2dyYXlzY2FsZSc+PGZlQ29sb3JNYXRyaXggdHlwZT0nbWF0cml4JyB2YWx1ZXM9JzAuMzMzMyAwLjMzMzMgMC4zMzMzIDAgMCAwLjMzMzMgMC4zMzMzIDAuMzMzMyAwIDAgMC4zMzMzIDAuMzMzMyAwLjMzMzMgMCAwIDAgMCAwIDEgMCcvPjwvZmlsdGVyPjwvc3ZnPiNncmF5c2NhbGU=")
        -webkit-filter grayscale(50%) 
        -webkit-transition all .2s ease
        -moz-transition all .2s ease
        -o-transition all .2s eas
        -ms-transition all .2s ease
        transition all .2s ease
    .navbar-brand
      margin-left 0
      padding-left 5px
      padding-right 5px
  .navbar-collapse
    li a span
      float left
      margin-right 4px
  a
    -webkit-transition all 200ms ease-out
    transition all 200ms ease-out

.usermenu
  li.userbox > a
    margin-top -6px
    height 57px
  li.userbox ul.dropdown-menu
    margin-top -1px
    li a
      padding-left 26px
  small
    font-size 65%
    margin-top -6px
  img[data-gravatar-src]
    height 36px
    margin-bottom -30px
    margin-right 25px
    margin-top -18px
    border 1px solid #343434
    border-radius 50%
    -moz-border-radius 50%
    -webkit-border-radius 50%
  .username-pull
    margin-left 61px 
  .menu-icon
    float left
    margin-top -22px
    margin-left 5px
  .caret
    float right
    margin-top 8px
    
#navsignin
  padding-bottom 0
  margin-bottom 0
  min-width 300px
  .navbar-form
    margin-bottom 0
    .form-group
      margin-bottom 5px
      width 100%
      .input-group
        width 100%
        .input-group-addon
          width 40px
        input
          width 100%
    .invalid
      border 1px solid #FF0000
    button.btn
      width calc(100% + 31px)
      border-radius 0
      margin-left -15px
      margin-top 2px
      -webkit-transition all 200ms ease-out
      transition all 200ms ease-out
      span.iconic
        right 5px
        top 3px
    button.btn:hover
      -webkit-transition all 200ms ease-out
      transition all 200ms ease-out
      
#signin
  .login-mobile-spacer
    display block
  button.btn
    span.iconic
      right 5px
      top 3px

#stage
  background rgba(35,35,35,0.5)
  overflow hidden
  position fixed
  height 100%
  width 100%

section.content
  height calc(100% - 102px)
  overflow-y auto
  padding-top 21px

#userSearch
  float right
  input
    display inline
    font-size 14px
    height 25px
    padding 2px 3px
    width initial
  .label.user-count
    float right
    margin-left 5px
    margin-top 2px
  .btn.user-filter
    float right
    width 23.75px
    height 19.73px
    padding 1px 0
    margin-top 2px
    margin-left 5px
    .iconic:before
      font-size 13px !important

#userDisplay
  th
    cursor pointer
    span.iconic
      float right
    span.iconic:before
      font-size 13px
      margin-right 3px
      margin-top 2px
  th#userNameField
    max-width 235px
    min-width 235px
    overflow hidden
    width 235px
  th#firstNameField,
  th#lastNameField
    max-width 125px
    min-width 125px
    overflow hidden
    width 125px
  tr
    select
      display inline
      width 210px
  .ng-enter
    transition transform 100ms, opacity 100ms
  .ng-enter
    opacity 0
    transform translate3d(-100%, 0, 0)
  .ng-enter-active
    opacity 1
    transform translate3d(0, 0, 0)

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2

// Styles for animating page transition; original method
// .ng-enter
//   -webkit-transition 400ms linear all
//   transition 400ms linear all
//   opacity 0.2

// .ng-enter.ng-enter-active
//   opacity 1  
  
.ticker-container
  cursor pointer
  overflow hidden
  height 300px
  p.navbar-text
    float none !important
    text-align center
  -webkit-transition all 300ms ease-out
  transition all 300ms ease-out
  .expanded-footer
    display none
    
.ticker-container:hover
  background rgba(24,24,24,0.9)
  -webkit-transition all 200ms ease-out
  transition all 200ms ease-out
  
.ticker-container.expanded
  background rgba(24,24,24,0.9)
  cursor default
  margin-top -250px
  -webkit-transition all 150ms ease-out
  transition all 150ms ease-out
  padding-left 0
  padding-right 0
  position relative
  #ticker
    background rgba(24,24,24,0.8)
    height 249px
    margin-left 0
    margin-right 0
    padding-top 10px
    -webkit-transition none
    transition none
    #ftrmsg
      display block
      position absolute
      bottom 16px
      left 10px
      height auto
      margin-bottom 0
    .ticker-msg
      display block
      height 22px
      margin-bottom 2px
      position relative
      width 50%
      text-align left
      padding-left 15px
      margin-left 0
      margin-right 0
  #ticker.on
    margin-top 0
    opacity 1
    -webkit-transition none
    transition none
  .expanded-footer
    color #EFEFEF
    display block
    width 50%
    border-left 2px solid rgba(201,204,204,0.4)
    position absolute
    right 0
    top 15px
    height 220px
    padding-left 15px
    background-image url(/img/brand.png)
    background-size 300px
    background-repeat no-repeat
    opacity 0.55
    text-align right
    padding-right 15px

#ticker
  height 51px
  overflow hidden
  margin-top 0
  padding-top 15px
  -webkit-transition opacity, margin-top 200ms ease
  transition opacity, margin-top 200ms ease
  text-align center
  width 100%
  span#ftrmsg
    display none
  .ticker-msg
    display none
    width 50%
    margin-left auto
    margin-right auto
    .iconic
      left -4px
      top 3px
      display inline !important
  .ticker-msg.success
    color green
  .ticker-msg.error
    color red
  > span:first-child
    display block !important

#ticker.on
    opacity 0.2
    margin-top -40px
    -webkit-transition all 0ms
    transition all 0ms

.in-progress
  -webkit-animation flashIcon 800ms infinite linear
  animation flashIcon 800ms infinite linear

@media (max-width: 767px)
  .center
    margin-left auto
    margin-right auto
    width 200px
  .mobile-only
    display block
  .desktop-only
    display none
  .expanded-footer
    display none
  .ticker-container.expanded
    #ticker
      .ticker-msg
        width 100%
        text-align left
        margin-left auto
        margin-right auto
        padding-left 15px
    .expanded-footer
      display none !important
  #ticker
    .ticker-msg
      width 100%
      margin-left 0
      margin-right 0
        
@media all and (min-width: 768px)
  #user
    margin-right 0
  .panel-infoview
    min-height 455px
  #nav
    height 50px !important
    
@-webkit-keyframes flashIcon
  0%
    opacity 0.3
  50%
    opacity 1
  100%
    opacity 0.3
    
@keyframes flashIcon
  0%
    opacity 0.3
  50%
    opacity 1
  100%
    opacity 0.3