extends ../includes/layout

block main-content
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#nav" aria-expanded="false")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .brand-container
          a
            img(src="/img/brand.png", alt="Tardigrade", class="brand")
          a(href="http://tardigradedigital.com", target="_blank")
            img(src="/img/brand-over.png", alt="Tardigrade", class="brand")
        a.navbar-brand(href="/")
          span.tdf //tardigrade/node
      .navbar-collapse.collapse.navbar-inverse#nav(ng-controller="mvNavBarLoginCtrl")
        ul.nav.navbar-nav
          li
            a(href="/") Home
              span.iconic.iconic-home.iconic-lg.iconic-size-sm
        ng-include(src="'/partials/admin/admin-toolbar'", ng-if="identity.isAuthorized('admin')")
        div(ng-include="'/partials/account/navbar-login'")
  div#stage
    section.content
      div(ng-view)
  
  .navbar.navbar-inverse.navbar-fixed-bottom
    .container.ticker-container.tdf
      div.navbar-text#ticker(ng-controller="mvTickerCtrl", onLoad="reset()" ng-click="showAll()")