body #a0-lock * {
  -webkit-animation: none !important;
  animation: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

body .a0-overlay.a0-active {
  background: none !important;
}

body .a0-panel {
  width: 380px !important;
}