body #a0-lock * {
  -webkit-animation: none !important;
  animation: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

body .a0-overlay.a0-active {
  background: none !important;
}

body .a0-panel {
  left: 10px;
  top: 36px;
  width: 420px !important;
}

body .ao-db-actions, body .ao-top-header, body .ao-forgot-pass {
  display: none;
}

#content {
  height: 257px;
}