body #a0-lock * {
  -webkit-animation: none !important;
  animation: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

body .a0-panel {
  box-shadow: none !important;
  border-radius: 0 !important;
  left: -10px;
  /*top: 56px;*/
  width: 420px !important;
}

body, .a0-mode-container {
  border-radius: 0 !important;
}

body .a0-db-actions, body .a0-top-header, body .a0-forgot-pass {
  display: none !important;
}

body .a0-footer {
  display: none !important;
}

#content {
  height: 257px;
}