.container
  .col-md-12
    .panel.panel-default
      .panel-heading
        h3.tdf Create a Stage user
          span.iconic.iconic-person-male.iconic-lg.iconic-size-md.h3-icon
      .panel-body
        form.form-horizontal(name="signupForm", autocomplete="off")
          fieldset
            legend
              .form-group
                .col-md-5
                  input.form-control(name="email", type="email", placeholder="Email", data-ng-model="email", required)
              .form-group
                .col-md-5
                  input.form-control(name="password", type="password", placeholder="Password", data-ng-model="password", required, autocomplete="new-password")
              .form-group
                .col-md-5
                  input.form-control(name="firstName", type="text", placeholder="First Name", data-ng-model="firstName", required)
              .form-group
                .col-md-5
                  input.form-control(name="lastNname", type="text", placeholder="Last Name", data-ng-model="lastName", required)
              .form-group
                .col-md-3.col-md-offset-2
                  .pull-right
                    button.btn.btn-primary(data-ng-click="createUser()", data-ng-disabled="signupForm.$invalid") Submit
                    | &nbsp;
                    a.btn.btn-default(href="/admin") Cancel
