.container
  .col-md-12
    .panel.panel-default
      .panel-heading
        .panel-title
          h3 Stage Administration
            span.iconic.iconic-cogs.iconic-lg.iconic-size-md.h3-icon
      .panel-body
        .row
          .col-md-9
            h4
              b Loaded Stage users
            .table-responsive
              table.table.table-bordered.table-condensed.table-striped
                tr
                  th Username
                  th First name
                  th Last name
                  th Roles
                tr(data-ng-repeat="user in users")
                  td {{user.userName}}
                  td {{user.firstName}}
                  td {{user.lastName}}
                  td {{user.roles}}
          .col-md-3
            h4
              b User actions
            div.list-group
              a.list-group-item(href="/admin/users/add") Create new user
                span.iconic.iconic-plus.iconic-sm.iconic-size-sm.lgr-icon
              a.list-group-item(href="/admin/users/delete") Delete user
                span.iconic.iconic-trash.iconic-sm.iconic-size-sm.lgr-icon
              a.list-group-item(href="/admin/users/purge") Purge user database
                span.iconic.iconic-radiation.iconic-sm.iconic-size-sm.lgr-icon
            