.container
  .col-md-12
    .panel.panel-default
      .panel-heading
        .panel-title
          h3 Stage Administration
            span.iconic.iconic-cogs.iconic-lg.iconic-size-md.h3-icon
      .panel-body
        .row(ng-hide="userSyncEnabled")
          .col-md-12
            .alert.alert-info(role="alert")
              span.iconic.iconic-info.iconic-sm.iconic-size.sm
              | User database sync is not available from the cloud
        .row
          .col-md-9
            h4
              b Stage users
              div#userSearch
                input.formcontrol(type="text", ng-model="userSearch", placeholder="Search users")
                span.label.label-primary {{(users | filter:userSearch).length}}
            .table-responsive(data-ng-animate-children="true")
              table.table.table-bordered.table-condensed.table-striped#userDisplay
                tr
                  th#userNameField(data-ng-click="sortUsers('userName')")
                    span Username
                    span.iconic.iconic-caret-top.iconic-sm(ng-show="field == 'userName' && reverse")
                    span.iconic.iconic-caret-bottom.iconic-sm(ng-show="field == 'userName' && !reverse")
                  th.desktop-only#firstNameField(data-ng-click="sortUsers('firstName')")
                    span First name
                    span.iconic.iconic-caret-top.iconic-sm(ng-show="field == 'firstName' && reverse")
                    span.iconic.iconic-caret-bottom.iconic-sm(ng-show="field == 'firstName' && !reverse")
                  th.desktop-only#lastNameField(data-ng-click="sortUsers('lastName')")
                    span Last name
                    span.iconic.iconic-caret-top.iconic-sm(ng-show="field == 'lastName' && reverse")
                    span.iconic.iconic-caret-bottom.iconic-sm(ng-show="field == 'lastName' && !reverse")
                  th(data-ng-click="sortUsers('roles', true)")
                    span Roles
                    span.iconic.iconic-caret-top.iconic-sm(ng-show="field == 'roles' && !reverse")
                    span.iconic.iconic-caret-bottom.iconic-sm(ng-show="field == 'roles' && reverse")
                tr(data-ng-repeat="user in users | filter:userSearch | orderBy:field:reverse")
                  td {{user.userName}}
                  td.desktop-only {{user.firstName}}
                  td.desktop-only {{user.lastName}}
                  td {{user.roles}}
                tr(ng-show="(users | filter:userSearch).length == 0")
                  td(colspan="4") No users were found
          .col-md-3
            h4
              b User actions
            div.list-group
              a.list-group-item(href="/admin/users/add") Create new user
                span.iconic.iconic-plus.iconic-sm.iconic-size-sm.lgr-icon
              a.list-group-item(href="/admin/users/delete") Delete user
                span.iconic.iconic-trash.iconic-sm.iconic-size-sm.lgr-icon
              a.list-group-item(href="/admin/users/purge") Purge user database
                span.iconic.iconic-radiation.iconic-sm.iconic-size-sm.lgr-icon
              a.list-group-item(ng-href="{{userSyncEnabled ? '/admin/users/sync' : '#'}}", ng-disabled="userSyncEnabled", ng-class="{disabled: !userSyncEnabled}") Sync user database
                span.iconic.iconic-loop-circular.iconic-sm.iconic-size-sm.lgr-icon