.container(ng-controller="mvNavBarLoginCtrl")
  .col-md-12
    .panel.panel-default
      .panel-heading
        .panel-title
          h3 Sign In
      .panel-body
        form.navbar-form
          .form-group.login-mobile-spacer
            input.form-control(placeholder="Email", ng-model="username")
          br
          .form-group.login-mobile-spacer
            input.form-control(type="password", placeholder="Password", ng-model="password")
          br
          button.btn.btn-primary(ng-click="signin(username, password)") Sign In