.navbar-right#user(ng-controller="mvNavBarLoginCtrl")
  ul.nav.navbar-nav.navbar-right(ng-hide="identity.isAuthenticated()")
    li.dropdown
      a.dropdown-toggle(href="", data-toggle="dropdown")
        | Sign In&nbsp;
        span.iconic.iconic-key.iconic-sm.iconic-size-sm.fliph
        b.caret
      ul.dropdown-menu#signin
        form.navbar-form
          .form-group
            input.form-control(placeholder="Email", ng-model="username")
          .form-group
            input.form-control(type="password", placeholder="Password", ng-model="password")
          button.btn.btn-primary(ng-click="signin(username, password)") Sign In
          a.btn.btn-primary.navbar-right(href="/signup") Register
    
    
  ul.nav.navbar-nav.navbar-right.usermenu(ng-show="identity.isAuthenticated()")
    li.dropdown
      a.dropdown-toggle(href="", data-toggle="dropdown")
        img(gravatar-src="identity.currentUser.userName", gravatar-size="36" gravatar-secure="true")
        | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}&nbsp;
        b.caret
        br
        small.pull-right {{identity.currentUser.userName}}
      ul.dropdown-menu
        li(ng-show="identity.currentUser.isAdmin()")
          a(href="/admin/users") User Admin
        li
          a(href="/profile") Profile
        li
          a(href="", ng-click="signout()") Sign Out