.navbar-right#user(ng-controller="mvNavBarLoginCtrl")
  ul.nav.navbar-nav.navbar-right.desktop-only(ng-hide="identity.isAuthenticated()")
    li.dropdown
      a.dropdown-toggle(href="", data-toggle="dropdown")
        | Sign In&nbsp;
        span.iconic.iconic-key.iconic-sm.iconic-size-sm.fliph
        b.caret
      ul.dropdown-menu#signin
        form.navbar-form
          .form-group
            input.form-control(placeholder="Email", ng-model="username")
          .form-group
            input.form-control(type="password", placeholder="Password", ng-model="password")
          button.btn.btn-primary(ng-click="signin(username, password)") Sign In
          a.btn.btn-primary.navbar-right(href="/signup") Register
          
  ul.nav.navbar-nav.navbar-right.mobile-only(ng-hide="identity.isAuthenticated()")
    li
      a(href="/login") Sign In
        span.iconic.iconic-account-login.iconic-sm.iconic-size-sm
    
  ul.nav.navbar-nav.navbar-right.usermenu.desktop-only(ng-show="identity.isAuthenticated()")
    li.dropdown.userbox
      a.dropdown-toggle.center(href="", data-toggle="dropdown")
        img(gravatar-src="identity.currentUser.userName", gravatar-size="36" gravatar-secure="true")
        | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}&nbsp;
        b.caret
        br
        small.pull-left.username-pull {{identity.currentUser.userName}}
      ul.dropdown-menu
        li
          a(href="/settings") Settings
          span.iconic.iconic-settings.iconic-sm.iconic-size-sm.menu-icon      
        li
          a(href="", ng-click="signout()") Sign Out
          span.iconic.iconic-account-logout.iconic-sm.iconic-size-sm.menu-icon
  ul.nav.navbar-nav.navbar-right.usermenu.mobile-only(ng-show="identity.isAuthenticated()")
    li.userbox
      a.pull-left(href="/settings", style="width: 200px")
        img(gravatar-src="identity.currentUser.userName", gravatar-size="36" gravatar-secure="true")
        | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}&nbsp;
        br
        small.pull-left.username-pull {{identity.currentUser.userName}}
      a.pull-right(href="", ng-click="signout()", style="margin-top: 0") Sign Out
        span.iconic.iconic-account-logout.iconic-sm.iconic-size-sm