.container
  .col-md-12
    .panel.panel-default
      .panel-heading
        h3.tdf Remove a Stage user
          span.iconic.iconic-person-male.iconic-lg.iconic-size-md.h3-icon
      .panel-body
        p Delete a user